<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserId</key>
	<string>vng9ys</string>
	<key>ApiKey</key>
	<string>3bcbfdbe-856d-4646-87e9-356727b40978</string>
</dict>
</plist>
